<app-spinner message="Grabando Datos ... " *ngIf="updating"></app-spinner>

<app-card-header *ngIf="!updating" [headerContains]="headerContains"></app-card-header>

<!-- <mat-card *ngIf="!updating" class="mat-elevation-z8 mx-auto cardHeader" style="margin-top:-15px" >
      <h5>{{ this.data.id == 0? "Agregar" : "Editar" }} Categoria de Producto</h5>
</mat-card> -->
<mat-card *ngIf="!updating" class="example-card mat-elevation-z8 mx-auto cardBody" style = "height: 100%">
  <form class = "mt-5" [formGroup]="formLogin" (ngSubmit) = "formSubmit()" >
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Descripción de la Categoria</mat-label>
        <input required matInput  formControlName ="description"  placeholder="Descripción de la Categoria">
        <span class = "error"> {{ messageError('description') }} </span>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Grupo de Categoria</mat-label>
      <mat-select formControlName="groupId" >
        <mat-option>Seleccione Grupo ...</mat-option>
        <mat-option *ngFor="let productGroup of productGroups" [value]="productGroup.id" >  {{ productGroup.description}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="container text-center" style="width:100%; margin-left: -20px;">
      <div class="row mt-4">
         <div class="col-sm-6">
            <button mat-raised-button color="primary" [disabled]="formLogin.invalid">Grabar</button>
         </div>
         <div class="col-sm-4">
            <button type = "reset" (click) = "closeModal(false)" mat-raised-button color="accent">Cancelar y Salir</button>
         </div>
      </div>
    </div>
  </form>
</mat-card>
